.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.record-btn{
  font-size: 110%;
  background: blue;
  color: white;
      }
.record-btn:hover{
  background: light-blue;
  cursor: pointer;
      }
