.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  display: flex;
  flex-wrap: wrap;
}

button {
  background: blue;
  color: white;
  padding: 6px 10px;
  border-radius:5px;
  border: none;
}

.share{
  display: flex;
  margin-top: 1%;
  align-items: center;
}

.share .copy-bt

button>a {
  color: white;
  text-decoration: none;
}

button:hover{
  background: #003cff;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  background: #75b2ec;
  cursor: not-allowed;
}

.hidden{
  display: none;
}